  
        
            <h1>New Consignment</h1>

            <%= render 'form', consignment: @consignment %>
            <% if user_signed_in? %>
            <%= link_to 'Back', consignments_path %>
            <% end %>
