     <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        
            <h1>New Consignment</h1>

            <%= render 'form', consignment: @consignment %>

            <%= link_to 'Back', consignments_path %>
    </main>
